<form
    action="/addCheck"
    method="POST"
    novalidate
    class="validated-form w-100">
    <!-- Modal -->
    <div
    class="modal fade"
    id="addCheckForm"
    tabindex="-1"
    aria-labelledby="addCheckFormLabel"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title h2" id="addCheckFormLabel">Add a check</h2>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 id="restaurant">Restaurant</h5>
                    <!-- Restaurant's name -->
                    <div class="mb-3">
                        <label id="addRestaurantName" for="restaurantAdd" class="form-label">
                            Restaurant's name:
                        </label>
                        <input
                            type="text"
                            name="check[restaurant]"
                            id="restaurantAdd"
                            placeholder="Restaurant..."
                            class="form-control"
                            required />
                        <div class="invalid-feedback" id="addRestaurantNameError">What restaurant was it?</div>
                    </div>
                    <!-- Tip -->
                    <div class="mb-3">
                        <label id="addTip" for="tipAdd" class="form-label">
                        Checks's Service Tip:
                        </label>
                        <div class="input-group">
                            <input
                                type="number"
                                name="check[tip]"
                                id="tipAdd"
                                min="0"
                                step="0.01"
                                placeholder="Tip percentage..."
                                class="form-control"
                                onchange="this.value = this.value.replace(/,/g, '.')"
                                value="0"
                                required />
                            <span class="input-group-text">%</span>
                            <div class="invalid-feedback" id="addTipNameError">How much are you tipping?</div>
                        </div>
                    </div>
                    <!-- Total Price -->
                    <div class="mb-3">
                        <label id="addTotalPrice" for="totalPriceAdd" class="form-label">
                            Checks's Total Price:
                        </label>
                        <input
                            type="number"
                            name="check[totalPrice]"
                            id="totalPriceAdd"
                            min="0.01"
                            step="0.01"
                            placeholder="Total price..."
                            class="form-control"
                            onchange="this.value = this.value.replace(/,/g, '.')"
                            required />
                        <div id="addTotalPriceError" class="invalid-feedback">What's the total price? Enter a valid value!</div>
                    </div>

                    <hr />
                    
                    <h5 id="people">People</h5>
                    <!-- Person's Name -->
                    <div class="mb-3">
                        <label id="addPerson" for="personAdd" class="form-label">First person:</label>
                        <input
                            type="text"
                            name="check[person]"
                            id="personAdd"
                            placeholder="Person's name..."
                            class="form-control"
                            required />
                        <div id="addPersonError" class="invalid-feedback">What is your name?</div>
                    </div>

                    <hr />
                    
                    <h5 id="order">Order</h5>
                    <!-- Order -->
                    <div class="mb-3">
                        <label id="addDish" for="dishAdd" class="form-label">First dish:</label>
                        <input
                        type="text"
                        name="check[dish]"
                        id="dishAdd"
                        placeholder="Dish's name..."
                        class="form-control"
                        required />
                        <div id="addDishError" class="invalid-feedback">What did you eat?</div>
                    </div>
                    <div class="mb-3">
                        <label id="addQty" for="qtyAdd" class="form-label">Quantity:</label>
                        <input
                            type="number"
                            name="check[qty]"
                            id="qtyAdd"
                            min="1"
                            step="1"
                            placeholder="Quantity..."
                            class="form-control"
                            value="1"
                            required />
                        <div id="addQtyError" class="invalid-feedback">How many did you order?</div>
                    </div>
                    <div class="mb-3">
                        <label id="addPrice" for="priceAdd" class="form-label">Price per dish:</label>
                        <input
                            type="number"
                            name="check[price]"
                            id="priceAdd"
                            min="0.01"
                            step="0.01"
                            placeholder="Price per dish..."
                            class="form-control"
                            onchange="this.value = this.value.replace(/,/g, '.')"
                            required />
                        <div id="addPriceError" class="invalid-feedback">
                            How much did it cost per dish?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                    id="closeAddCheckBtn"
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Close
                    </button>
                    <button id="addCheckBtn" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>