<form
    action="/addPerson/<%= position %>"
    method="POST"
    novalidate
    class="validated-form w-100">
    <!-- Modal -->
    <div
        class="modal fade"
        id="addPersonForm"
        tabindex="-1"
        aria-labelledby="addPersonFormLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title h2" id="addPersonFormLabel">Add a person</h2>
                    <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <h5>People</h5>
                    <!-- Person's Name -->
                    <div class="mb-3">
                        <label for="person" class="form-label">First person:</label>
                        <input
                            type="text"
                            name="person[name]"
                            id="person"
                            placeholder="Person's name..."
                            class="form-control"
                            required />
                        <div class="invalid-feedback">What is your name?</div>
                    </div>

                    <hr />

                    <h5>Order</h5>
                    <!-- Order -->
                    <div class="mb-3">
                        <label for="dish" class="form-label">First dish:</label>
                        <input
                            type="text"
                            name="person[dish]"
                            id="dish"
                            placeholder="Dish's name..."
                            class="form-control"
                            required />
                        <div class="invalid-feedback">What did you eat?</div>
                    </div>
                    <div class="mb-3">
                        <label for="qty" class="form-label">Quantity:</label>
                        <input
                            type="number"
                            name="person[qty]"
                            id="qty"
                            min="1"
                            step="1"
                            placeholder="Quantity..."
                            class="form-control"
                            value="1"
                            required />
                        <div class="invalid-feedback">How many did you order?</div>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price per dish:</label>
                        <input
                            type="number"
                            name="person[price]"
                            id="price"
                            min="0.01"
                            step="0.01"
                            placeholder="Price per dish..."
                            class="form-control"
                            onchange="this.value = this.value.replace(/,/g, '.')"
                            required />
                        <div class="invalid-feedback">How much did it cost per dish?</div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        Close
                    </button>
                    <button class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>