<form
    action="/addPerson/<%= position %>"
    method="POST"
    novalidate
    class="validated-form w-100">
    <!-- Modal -->
    <div
        class="modal fade"
        id="addPersonForm"
        tabindex="-1"
        aria-labelledby="addPersonFormLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title h2" id="addPersonFormLabel">Add a person</h2>
                    <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <h5 id="addPersonCheckText">Person</h5>
                    <!-- Person's Name -->
                    <div class="mb-3">
                        <label id="addPersonCheck" for="person" class="form-label">Person's name:</label>
                        <input
                            type="text"
                            name="person[name]"
                            id="personAddForm"
                            placeholder="Person's name..."
                            class="form-control"
                            required />
                        <div id="addPersonCheckError" class="invalid-feedback">What is the person's name?</div>
                    </div>

                    <hr />

                    <h5 id="addOrderCheckText">Order</h5>
                    <!-- Order -->
                    <div class="mb-3">
                        <label id="addOrderCheck" for="dish" class="form-label">Dish's name:</label>
                        <input
                            type="text"
                            name="person[dish]"
                            id="dishAddForm"
                            placeholder="Dish's name..."
                            class="form-control"
                            required />
                        <div id="addOrderCheckError" class="invalid-feedback">What did you eat?</div>
                    </div>
                    <div class="mb-3">
                        <label id="addQtyCheck" for="qtyAddForm" class="form-label">Quantity:</label>
                        <input
                            type="number"
                            name="person[qty]"
                            id="qtyAddForm"
                            min="1"
                            step="1"
                            placeholder="Quantity..."
                            class="form-control"
                            value="1"
                            required />
                        <div id="addQtyCheckError" class="invalid-feedback">How many did you order?</div>
                    </div>
                    <div class="mb-3">
                        <label id="addPriceCheck" for="priceAddForm" class="form-label">Price per dish:</label>
                        <input
                            type="number"
                            name="person[price]"
                            id="priceAddForm"
                            min="0.01"
                            step="0.01"
                            placeholder="Price per dish..."
                            class="form-control"
                            onchange="this.value = this.value.replace(/,/g, '.')"
                            required />
                        <div id="addPriceCheckError" class="invalid-feedback">How much did it cost per dish?</div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button
                        id="closeAddPersonBtn"
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        Close
                    </button>
                    <button id="addPersonBtn" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>