<form
    action="/deleteCheck/<%= position %>?_method=DELETE"
    method="POST"
    novalidate
    class="validated-form w-100">
    <!-- Modal -->
    <div
        class="modal fade"
        id="delCheckForm"
        tabindex="-1"
        aria-labelledby="delCheckFormLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title h2" id="delCheckFormLabel">Delete check</h2>
                    <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>Are you sure you want do delete this check?</p>
                </div>
                
                <div class="modal-footer">
                    <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Close
                    </button>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>