<footer class="footer text-center">
    <div class="container bg-white py-1 position-fixed bottom-0 fs-6">
        <% let date = new Date(); %>
        <a href="https://github.com/brunovicenters" target="_blank" class="text-decoration-none text-secondary ">
            <i class="bi bi-github"></i> brunovicenters
        </a>
        <p class="text-secondary">Copyright &copy; <%= date.getFullYear() %></p>
    </div>
</footer>