<div class="modal fade" id="help" aria-hidden="true" aria-labelledby="helpLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content <%= (theme === "dark") ? "bg-dark text-light" : "" %>">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="helpLabel">Modal 1</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Show a second modal and hide this one with the button below.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#help2" data-bs-toggle="modal">Open second modal</button>
            </div>
        </div>
    </div>
    </div>
<div class="modal fade" id="help2" aria-hidden="true" aria-labelledby="helpLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content <%= (theme === "dark") ? "bg-dark text-light" : "" %>">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="helpLabel2">Modal 2</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#help" data-bs-toggle="modal">Back to first</button>
            </div>
        </div>
    </div>
</div>