<!-- Modal -->
<div
    class="modal fade"
    id="langChange"
    tabindex="-1"
    aria-labelledby="langChangeLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h2" id="langChangeLabel">
                    Select a language
                </h2>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body d-flex flex-column gap-3">
                <div class="form-check form-switch">
                    <input
                        class="form-check-input switches"
                        type="checkbox"
                        role="switch"
                        id="en"
                        name="language"
                        value="en"
                        onchange="activeLang('en')" <%= language == 'en' ? 'checked' : '' %>>
                    <label class="form-check-label" for="en">English - US</label>
                </div>

                <div class="form-check form-switch">
                    <input
                        class="form-check-input switches"
                        type="checkbox"
                        role="switch"
                        id="uk"
                        name="language"
                        value="uk"
                        onchange="activeLang('uk')" <%= language == 'uk' ? 'checked' : '' %>>
                    <label class="form-check-label" for="uk">English - UK</label>
                </div>
                
                <!-- Italian disabled -->
                <!-- <div class="form-check form-switch">
                    <input
                        class="form-check-input switches"
                        type="checkbox"
                        role="switch"
                        id="it"
                        name="language"
                        value="it"
                        onchange="activeLang('it')" <%= //language == 'it' ? 'checked' : '' %>
                        >
                    <label class="form-check-label" for="it">Italiano</label>
                </div> -->

                <div class="form-check form-switch">
                    <input
                        class="form-check-input switches"
                        type="checkbox"
                        role="switch"
                        id="pt"
                        name="language"
                        value="pt"
                        onchange="activeLang('pt')" <%= language == 'pt' ? 'checked' : '' %>>
                    <label class="form-check-label" for="pt">Português - Brasil</label>
                </div>

                <select name="languages" id="languages" style="display: none;">
                    <option value="en" id="optionEn">English-US</option>
                    <option value="uk" id="optionUk">English-UK</option>
                    <option value="pt" id="optionPt">Português</option>
                    <!-- <option value="it" id="optionIt">Italiano</option> -->
                </select>
            </div>
            
            <div class="modal-footer">
                <button
                    id="closeLangChangeBtn"
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>