<div class="modal fade" id="modalSum" tabindex="-1" aria-labelledby="modalSumLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content <%= (theme === "dark") ? "text-light bg-dark" : "" %>">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalSumLabel">Something is not checking!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>This price is different than the one in the check.</p>
          <p>Please check if everything is correct.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>