<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/style.css" />
    <title id="pageTitle">Split it!</title>
  </head>
  <body class="vh-100 d-flex flex-column position-relative <%= (theme === "dark") ? "bg-dark text-light" : "" %>">
    <!-- JSON Translation -->
    <script id="translation-sheet" type="application/json">
      [
        {
          "id":"pageTitle",
          "langs":
          {
            "en":"Split it!",
            "uk":"Split it!",
            "pt":"Divide aê!"
          }
        },
        {
          "id":"title",
          "langs":
          {
            "en":"Split it!",
            "uk":"Split it!",
            "pt":"Divide aê!"
          }
        },
        {
          "id":"langChangeLabel",
          "langs":
          {
            "en":"Select a language",
            "uk":"Select a language",
            "pt":"Selecione o idioma"
          }
        },
        {
          "id":"closeLangChangeBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"addCheckFormBtn",
          "langs":
          {
            "en":"Add check",
            "uk":"Add check",
            "pt":"Adicionar conta"
          }
        },
        {
          "id":"addCheckFormLabel",
          "langs":
          {
            "en":"Add check",
            "uk":"Add check",
            "pt":"Adicionar conta"
          }
        },
        {
          "id":"addRestaurantHome",
          "langs":
          {
            "en":"Restaurant",
            "uk":"Restaurant",
            "pt":"Restaurante"
          }
        },
        {
          "id":"addRestaurantName",
          "langs":
          {
            "en":"Restaurant's name:",
            "uk":"Restaurant's name:",
            "pt":"Nome do restaurante:"
          }
        },
        {
          "id":"restaurantAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Restaurant...",
              "uk":"Restaurant...",
              "pt":"Restaurante..."
            }
          }
        },
        {
          "id":"addRestaurantNameError",
          "langs":
          {
            "en":"What restaurant was it?",
            "uk":"What restaurant was it?",
            "pt":"Qual era o restaurante?"
          }
        },
        {
          "id":"addTip",
          "langs":
          {
            "en":"Checks's Service Tip:",
            "uk":"Checks's Service Tip:",
            "pt":"Taxa de serviço da conta:"
          }
        },
        {
          "id":"tipAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Tip percentage...",
              "uk":"Tip percentage...",
              "pt":"Porcentagem da gorjeta..."
            }
          }
        },
        {
          "id":"addTipNameError",
          "langs":
          {
            "en":"How much are you tipping?",
            "uk":"How much are you tipping?",
            "pt":"Quanto será a gorjeta?"
          }
        },
        {
          "id":"addTotalPrice",
          "langs":
          {
            "en":"Checks's Total Price:",
            "uk":"Checks's Total Price:",
            "pt":"Preço total da conta:"
          }
        },
        {
          "id":"totalPriceAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Total price...",
              "uk":"Total price...",
              "pt":"Preço total..."
            }
          }
        },
        {
          "id":"addTotalPriceError",
          "langs":
          {
            "en":"What's the total price? Enter a valid value!",
            "uk":"What's the total price? Enter a valid value!",
            "pt":"Qual o preço total? Entre um valor válido!"
          }
        },
        {
          "id":"addPeopleHome",
          "langs":
          {
            "en":"People",
            "uk":"People",
            "pt":"Pessoas"
          }
        },
        {
          "id":"addPerson",
          "langs":
          {
            "en":"First person:",
            "uk":"First person:",
            "pt":"Primeira pessoa:"
          }
        },
        {
          "id":"personAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Person's name...",
              "uk":"Person's name...",
              "pt":"Nome da pessoa..."
            }
          }
        },
        {
          "id":"addPersonError",
          "langs":
          {
            "en":"What is your name?",
            "uk":"What is your name?",
            "pt":"Qual o seu nome?"
          }
        },
        {
          "id":"addOrderHome",
          "langs":
          {
            "en":"Order",
            "uk":"Order",
            "pt":"Pedido"
          }
        },
        {
          "id":"addDish",
          "langs":
          {
            "en":"First dish:",
            "uk":"First dish:",
            "pt":"Primeiro prato:"
          }
        },
        {
          "id":"dishAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Dish's name...",
              "uk":"Dish's name...",
              "pt":"Nome do preto..."
            }
          }
        },
        {
          "id":"addDishError",
          "langs":
          {
            "en":"What did you eat?",
            "uk":"What did you eat?",
            "pt":"O que você comeu?"
          }
        },
        {
          "id":"addQty",
          "langs":
          {
            "en":"Quantity:",
            "uk":"Quantity:",
            "pt":"Quantidade:"
          }
        },
        {
          "id":"qtyAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Quantity...",
              "uk":"Quantity...",
              "pt":"Quantidade..."
            }
          }
        },
        {
          "id":"addQtyError",
          "langs":
          {
            "en":"How many did you order?",
            "uk":"How many did you order?",
            "pt":"Quantos você pediu?"
          }
        },
        {
          "id":"addPrice",
          "langs":
          {
            "en":"Price per dish:",
            "uk":"Price per dish:",
            "pt":"Preço de prato:"
          }
        },
        {
          "id":"priceAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Price per dish...",
              "uk":"Price per dish...",
              "pt":"Preço por prato..."
            }
          }
        },
        {
          "id":"addPriceError",
          "langs":
          {
            "en":"How much did it cost per dish?",
            "uk":"How much did it cost per dish?",
            "pt":"Quanto custou por prato?"
          }
        },
        {
          "id":"closeAddCheckBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"addCheckBtn",
          "langs":
          {
            "en":"Add",
            "uk":"Add",
            "pt":"Adicionar"
          }
        },
        {
          "id":"delAllCheckFormBtn",
          "langs":
          {
            "en":"Delete all",
            "uk":"Delete all",
            "pt":"Deletar todas"
          }
        },
        {
          "id":"alertChecks",
          "langs":
          {
            "en":"You don't have any checks yet!",
            "uk":"You don't have any checks yet!",
            "pt":"Você não possui nenhuma conta ainda!"
          }
        },
        {
          "id":"delAllCheckFormLabel",
          "langs":
          {
            "en":"Delete all checks",
            "uk":"Delete all checks",
            "pt":"Deletar todas as contas"
          }
        },
        {
          "id":"delAllText",
          "langs":
          {
            "en":"Are you sure you want to delete all checks?",
            "uk":"Are you sure you want to delete all checks?",
            "pt":"Você tem certeza de que quer deletar todas as contas?"
          }
        },
        {
          "id":"noChecksText",
          "langs":
          {
            "en":"There are no checks to delete.",
            "uk":"There are no checks to delete.",
            "pt":"Não há contas para deletar."
          }
        },
        {
          "id":"closeDelAllBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"delAllBtn",
          "langs":
          {
            "en":"Delete",
            "uk":"Delete",
            "pt":"Deletar"
          }
        },
        {
          "id":"finalPrice",
          "langs":
          {
            "en":"Final Price",
            "uk":"Final Price",
            "pt":"Preço Final"
          }
        },
        {
          "id":"tipCheck",
          "langs":
          {
            "en":"Tip",
            "uk":"Tip",
            "pt":"Gorjeta"
          }
        },
        {
          "id":"checkPrice",
          "langs":
          {
            "en":"Price:",
            "uk":"Price:",
            "pt":"Preço:"
          }
        },
        {
          "id":"editCheckFormLabel",
          "langs":
          {
            "en":"Edit check",
            "uk":"Edit check",
            "pt":"Editar conta"
          }
        },
        {
          "id":"editRestaurantName",
          "langs":
          {
            "en":"Restaurant's name:",
            "uk":"Restaurant's name:",
            "pt":"Nome do restaurante:"
          }
        },
        {
          "id":"editRestaurantNameError",
          "langs":
          {
            "en":"What restaurant was it?",
            "uk":"What restaurant was it?",
            "pt":"Qual era o restaurante?"
          }
        },
        {
          "id":"restaurantEdit",
          "attr":
          {
            "placeholder":
            {
              "en":"Restaurant...",
              "uk":"Restaurant...",
              "pt":"Restaurante..."
            }
          }
        },
        {
          "id":"editTip",
          "langs":
          {
            "en":"Checks's Service Tip:",
            "uk":"Checks's Service Tip:",
            "pt":"Gorjeta da conta:"
          }
        },
        {
          "id":"editTipError",
          "langs":
          {
            "en":"How much are you tipping?",
            "uk":"How much are you tipping?",
            "pt":"Quanto foi a gorjeta?"
          }
        },
        {
          "id":"tipEdit",
          "attr":
          {
            "placeholder":
            {
              "en":"Tip percentage...",
              "uk":"Tip percentage...",
              "pt":"Porcentagem da gorjeta..."
            }
          }
        },
        {
          "id":"editTotalPrice",
          "langs":
          {
            "en":"Checks's Total Price:",
            "uk":"Checks's Total Price:",
            "pt":"Preço Total da conta:"
          }
        },
        {
          "id":"editTotalPriceError",
          "langs":
          {
            "en":"What's the total price? Enter a valid value!",
            "uk":"What's the total price? Enter a valid value!",
            "pt":"Qual o preço total? Entre um valor válido!"
          }
        },
        {
          "id":"totalPriceEdit",
          "attr":
          {
            "placeholder":
            {
              "en":"Total price...",
              "uk":"Total price...",
              "pt":"Preço total..."
            }
          }
        },
        {
          "id":"closeEditRestaurantBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"editCheckBtn",
          "langs":
          {
            "en":"Edit",
            "uk":"Edit",
            "pt":"Editar"
          }
        },
        {
          "id":"delCheckFormLabel",
          "langs":
          {
            "en":"Delete check",
            "uk":"Delete check",
            "pt":"Deletar conta"
          }
        },
        {
          "id":"delCheckText",
          "langs":
          {
            "en":"Are you sure you want to delete this check?",
            "uk":"Are you sure you want to delete this check?",
            "pt":"Tem certeza de que deseja deletar esta conta?"
          }
        },
        {
          "id":"closeDelCheckBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"delCheckBtn",
          "langs":
          {
            "en":"Delete",
            "uk":"Delete",
            "pt":"Deletar"
          }
        },
        {
          "id":"addPersonFormLabel",
          "langs":
          {
            "en":"Add a person",
            "uk":"Add a person",
            "pt":"Adicionar uma pessoa"
          }
        },
        {
          "id":"addPersonCheckText",
          "langs":
          {
            "en":"Person",
            "uk":"Person",
            "pt":"Pessoa"
          }
        },
        {
          "id":"addPersonCheck",
          "langs":
          {
            "en":"Person's name:",
            "uk":"Person's name:",
            "pt":"Nome da Pessoa:"
          }
        },
        {
          "id":"addPersonCheckError",
          "langs":
          {
            "en":"What is the person's name?",
            "uk":"What is the person's name?",
            "pt":"Qual o nome da pessoa?"
          }
        },
        {
          "id":"personAddForm",
          "attr":
          {
            "placeholder":
            {
              "en":"Person's name...",
              "uk":"Person's name...",
              "pt":"Nome da pessoa..."
            }
          }
        },
        {
          "id":"addOrderCheckText",
          "langs":
          {
            "en":"Order",
            "uk":"Order",
            "pt":"Pedido"
          }
        },
        {
          "id":"addOrderCheck",
          "langs":
          {
            "en":"Dish's name:",
            "uk":"Dish's name:",
            "pt":"Nome do pedido:"
          }
        },
        {
          "id":"addOrderCheck",
          "langs":
          {
            "en":"Dish's name:",
            "uk":"Dish's name:",
            "pt":"Nome do pedido:"
          }
        },
        {
          "id":"addOrderCheckError",
          "langs":
          {
            "en":"What did you eat?",
            "uk":"What did you eat?",
            "pt":"O que você comeu?"
          }
        },
        {
          "id":"dishAddForm",
          "attr":
          {
            "placeholder":
            {
              "en":"Dish's name...",
              "uk":"Dish's name...",
              "pt":"Nome do pedido..."
            }
          }
        },
        {
          "id":"addQtyCheck",
          "langs":
          {
            "en":"Quantity:",
            "uk":"Quantity:",
            "pt":"Quantidade:"
          }
        },
        {
          "id":"addQtyCheckError",
          "langs":
          {
            "en":"How many did you order?",
            "uk":"How many did you order?",
            "pt":"Quantos você pediu?"
          }
        },
        {
          "id":"qtyAddForm",
          "attr":
          {
            "placeholder":
            {
              "en":"Quantity...",
              "uk":"Quantity...",
              "pt":"Quantidade..."
            }
          }
        },
        {
          "id":"addPriceCheck",
          "langs":
          {
            "en":"Price per dish:",
            "uk":"Price per dish:",
            "pt":"Preço por prato:"
          }
        },
        {
          "id":"addPriceCheckError",
          "langs":
          {
            "en":"How much did it cost per dish?",
            "uk":"How much did it cost per dish?",
            "pt":"Quanto custou por prato?"
          }
        },
        {
          "id":"priceAddForm",
          "attr":
          {
            "placeholder":
            {
              "en":"Price per dish...",
              "uk":"Price per dish...",
              "pt":"Preço por prato..."
            }
          }
        },
        {
          "id":"closeAddPersonBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"addPersonBtn",
          "langs":
          {
            "en":"Add",
            "uk":"Add",
            "pt":"Adicionar"
          }
        },
        {
          "id":"modalSumLabel",
          "langs":
          {
            "en":"Something is not checking!",
            "uk":"Something is not checking!",
            "pt":"Alguma coisa não está batendo!"
          }
        },
        {
          "id":"checkSumFirstParagraph",
          "langs":
          {
            "en":"This price is different than the one in the check.",
            "uk":"This price is different than the one in the check.",
            "pt":"Este preço é diferente do preço da conta."
          }
        },
        {
          "id":"checkSumSecondParagraph",
          "langs":
          {
            "en":"Please check if everything is correct.",
            "uk":"Please check if everything is correct.",
            "pt":"Por favor confira se está tudo correto."
          }
        },
        {
          "id":"sideDishesTitle",
          "langs":
          {
            "en":"Side Dishes:",
            "uk":"Side Dishes:",
            "pt":"Acompanhamentos:"
          }
        },
        {
          "id":"addSideDishLabel",
          "langs":
          {
            "en":"Add a side dish",
            "uk":"Add a side dish",
            "pt":"Adicionar acompanhamento"
          }
        },
        {
          "id":"addSideDishName",
          "langs":
          {
            "en":"Side dish's name:",
            "uk":"Side dish's name:",
            "pt":"Nome do acompanhamento:"
          }
        },
        {
          "id":"sideDishAddName",
          "attr":
          {
            "placeholder":
            {
              "en":"Side dish's name...",
              "uk":"Side dish's name...",
              "pt":"Nome do acompanhamento..."
            }
          }
        },
        {
          "id":"sideDishNameError",
          "langs":
          {
            "en":"What side dish was it?",
            "uk":"What side dish was it?",
            "pt":"Qual era o acompanhamento?"
          }
        },
        {
          "id":"addSideDishPrice",
          "langs":
          {
            "en":"Side dish's price:",
            "uk":"Side dish's price:",
            "pt":"Preço do acompanhamento:"
          }
        },
        {
          "id":"sideDishAddPrice",
          "attr":
          {
            "placeholder":
            {
              "en":"Side dish's price...",
              "uk":"Side dish's price...",
              "pt":"Preço do acompanhamento..."
            }
          }
        },
        {
          "id":"sideDishPriceError",
          "langs":
          {
            "en":"How much did it cost?",
            "uk":"How much did it cost?",
            "pt":"Quanto custou?"
          }
        },
        {
          "id":"peopleAteItAdd",
          "langs":
          {
            "en":"People who ate it:",
            "uk":"People who ate it:",
            "pt":"Pessoas que comeram:"
          }
        },
        {
          "id":"closeAddSideDishBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"addSideDishBtn",
          "langs":
          {
            "en":"Add",
            "uk":"Add",
            "pt":"Adicionar"
          }
        },
        {
          "id":"editSideDishesLabel",
          "langs":
          {
            "en":"Edit side dishes",
            "uk":"Edit side dishes",
            "pt":"Editar acompanhamentos"
          }
        },
        {
          "id":"closeEditSideDishBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"editSideDishBtn",
          "langs":
          {
            "en":"Edit",
            "uk":"Edit",
            "pt":"Editar"
          }
        },
        {
          "id":"homeMenuHelp",
          "langs":
          {
            "en":"The home's menu has 3 buttons:",
            "uk":"The home's menu has 3 buttons:",
            "pt":"O menu da página inicial tem 3 botões:"
          }
        },
        {
          "id":"themeHelp",
          "langs":
          {
            "en":"Theme",
            "uk":"Theme",
            "pt":"Tema"
          }
        },
        {
          "id":"themeTextHelp",
          "langs":
          {
            "en":"The first button changes the app's theme between light and dark mode",
            "uk":"The first button changes the app's theme between light and dark mode",
            "pt":"O primeiro botão muda o tema da página entre o modo claro e o modo escuro"
          }
        },
        {
          "id":"languageHelp",
          "langs":
          {
            "en":"Languages",
            "uk":"Languages",
            "pt":"Idiomas"
          }
        },
        {
          "id":"languageTextHelp",
          "langs":
          {
            "en":"The second button allows you to change the app's language",
            "uk":"The second button allows you to change the app's language",
            "pt":"O segundo botão lhe permite alterar o idioma da página"
          }
        },
        {
          "id":"helpHelp",
          "langs":
          {
            "en":"Help",
            "uk":"Help",
            "pt":"Ajuda"
          }
        },
        {
          "id":"helpTextHelp",
          "langs":
          {
            "en":"The third button opens the help window",
            "uk":"The third button opens the help window",
            "pt":"O terceiro botão abre a janela de ajuda"
          }
        },
        {
          "id":"homeMenuImg",
          "attr":
          {
            "src":
            {
              "en":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707411921/SplitIt/TopMenu_a1yqja.png",
              "uk":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707411921/SplitIt/TopMenu_a1yqja.png",
              "pt":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707412023/SplitIt/TopMenuPort_djdfkj.png"
            }
          }
        },
        {
          "id":"homeScreenHelp",
          "langs":
          {
            "en":"The home's screen has 2 buttons and one(or more) checks:",
            "uk":"The home's screen has 2 buttons and one(or more) checks:",
            "pt":"A tela inicial tem 2 botões e uma(ou mais) contas:"
          }
        },
        {
          "id":"addCheckHelp",
          "langs":
          {
            "en":"Add check",
            "uk":"Add check",
            "pt":"Adicionar conta"
          }
        },
        {
          "id":"addCheckTextHelp",
          "langs":
          {
            "en":"The first button opens a window where you can create a new check",
            "uk":"The first button opens a window where you can create a new check",
            "pt":"O primeiro botão abre uma janela onde você pode criar uma nova conta"
          }
        },
        {
          "id":"deleteAllHelp",
          "langs":
          {
            "en":"Delete all",
            "uk":"Delete all",
            "pt":"Deletar todas"
          }
        },
        {
          "id":"deleteAllTextHelp",
          "langs":
          {
            "en":"The second button deletes all checks",
            "uk":"The second button deletes all checks",
            "pt":"O segundo botão deleta todas as contas"
          }
        },
        {
          "id":"checkCardHelp",
          "langs":
          {
            "en":"Checks' summary",
            "uk":"Checks' summary",
            "pt":"Resumo das contas"
          }
        },
        {
          "id":"checkCardTextHelp",
          "langs":
          {
            "en":"The check's summary opens its screen, allowing you to full view it and edit it",
            "uk":"The check's summary opens its screen, allowing you to full view it and edit it",
            "pt":"O resumo da conta abre a tela da mesma, permitindo que você veja e edite a conta"
          }
        },
        {
          "id":"homeScreenImg",
          "attr":
          {
            "src":
            {
              "en":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707411921/SplitIt/HomeScreen_q6fhud.png",
              "uk":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707411921/SplitIt/HomeScreen_q6fhud.png",
              "pt":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707411921/SplitIt/HomeScreenPort_azgs12.png"
            }
          }
        },
        {
          "id":"checkMenuHelp",
          "langs":
          {
            "en":"The checks's menu has 3 buttons:",
            "uk":"The checks's menu has 3 buttons:",
            "pt":"O menu das contas tem 3 botões:"
          }
        },
        {
          "id":"goBackHelp",
          "langs":
          {
            "en":"Go back",
            "uk":"Go back",
            "pt":"Voltar"
          }
        },
        {
          "id":"goBackTextHelp",
          "langs":
          {
            "en":"The first button return you to the home screen",
            "uk":"The first button return you to the home screen",
            "pt":"O primeiro botão volta você para a tela inicial"
          }
        },
        {
          "id":"editCheckHelp",
          "langs":
          {
            "en":"Edit",
            "uk":"Edit",
            "pt":"Editar"
          }
        },
        {
          "id":"editCheckTextHelp",
          "langs":
          {
            "en":"The second button opens a window where you can edit the check",
            "uk":"The second button opens a window where you can edit the check",
            "pt":"O segundo botão abre uma janela onde você pode editar a conta"
          }
        },
        {
          "id":"deleteCheckHelp",
          "langs":
          {
            "en":"Delete",
            "uk":"Delete",
            "pt":"Deletar"
          }
        },
        {
          "id":"deleteCheckTextHelp",
          "langs":
          {
            "en":"The third button deletes the check",
            "uk":"The third button deletes the check",
            "pt":"O terceiro botão deleta a conta"
          }
        },
        {
          "id":"checkMenuImg",
          "attr":
          {
            "src":
            {
              "en":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707411921/SplitIt/TopMenuCheck_rqgnv8.png",
              "uk":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707411921/SplitIt/TopMenuCheck_rqgnv8.png",
              "pt":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707411922/SplitIt/TopMenuCheckPort_i3oceo.png"
            }
          }
        },
        {
          "id":"checkListHelp",
          "langs":
          {
            "en":"The check's list has some buttons and important informations:",
            "uk":"The check's list has some buttons and important informations:",
            "pt":"A lista da conta tem alguns botoes e informações importantes:"
          }
        },
        {
          "id":"editPersonHelp",
          "langs":
          {
            "en":"Edit person",
            "uk":"Edit person",
            "pt":"Editar pessoa"
          }
        },
        {
          "id":"editPersonTextHelp",
          "langs":
          {
            "en":"The first button opens a window where you can edit the person and their orders",
            "uk":"The first button opens a window where you can edit the person and their orders",
            "pt":"O primeiro botão abre uma janela onde você pode editar a pessoa e seus pedidos"
          }
        },
        {
          "id":"deletePersonHelp",
          "langs":
          {
            "en":"Delete person",
            "uk":"Delete person",
            "pt":"Deletar pessoa"
          }
        },
        {
          "id":"deletePersonTextHelp",
          "langs":
          {
            "en":"The second button deletes the person, if there are more than 1 person in the check",
            "uk":"The second button deletes the person, if there are more than 1 person in the check",
            "pt":"O segundo botão deleta a pessoa, se houver mais de 1 pessoa na conta"
          }
        },
        {
          "id":"addOrderHelp",
          "langs":
          {
            "en":"Add order",
            "uk":"Add order",
            "pt":"Adicione pedido"
          }
        },
        {
          "id":"addOrderTextHelp",
          "langs":
          {
            "en":"The third button opens a window where you can add an order to the person",
            "uk":"The third button opens a window where you can add an order to the person",
            "pt":"O terceiro botão abre uma janela onde você pode adicionar um pedido para a pessoa"
          }
        },
        {
          "id":"payHelp",
          "langs":
          {
            "en":"Pay",
            "uk":"Pay",
            "pt":"Pagar"
          }
        },
        {
          "id":"payTextHelp",
          "langs":
          {
            "en":"Here you can see how much each person has to pay, with tip included",
            "uk":"Here you can see how much each person has to pay, with tip included",
            "pt":"Aqui você consegue ver quanto cada pessoa tem que pagar, com gorjeta inclusa"
          }
        },
        {
          "id":"editSideDishesHelp",
          "langs":
          {
            "en":"Edit side dishes",
            "uk":"Edit side dishes",
            "pt":"Editar acompanhamentos"
          }
        },
        {
          "id":"editSideDishesTextHelp",
          "langs":
          {
            "en":"This button opens a window where you can edit the side dishes",
            "uk":"This button opens a window where you can edit the side dishes",
            "pt":"Este botão abre uma janela onde você pode editar os acompanhamentos"
          }
        },
        {
          "id":"priceHelp",
          "langs":
          {
            "en":"Price",
            "uk":"Price",
            "pt":"Preço"
          }
        },
        {
          "id":"priceTextHelp",
          "langs":
          {
            "en":"It shows the total price of the sum of all orders. If it's red and with a \"*\", it means that the sum and the price you inserted are different",
            "uk":"It shows the total price of the sum of all orders. If it's red and with a \"*\", it means that the sum and the price you inserted are different",
            "pt":"Mostra o total da soma de todos os pedidos. Se estiver vermelho e com um \"*\", significa que a soma e o preço inseridos são diferentes"
          }
        },
        {
          "id":"addPersonHelp",
          "langs":
          {
            "en":"Add person",
            "uk":"Add person",
            "pt":"Adicionar pessoa"
          }
        },
        {
          "id":"addPersonTextHelp",
          "langs":
          {
            "en":"With this button you can add a new person to the check",
            "uk":"With this button you can add a new person to the check",
            "pt":"Com este botão você consegue adicionar uma nova pessoa na conta"
          }
        },
        {
          "id":"addSideDishesHelp",
          "langs":
          {
            "en":"Add side dishes",
            "uk":"Add side dishes",
            "pt":"Adicionar acompanhamentos"
          }
        },
        {
          "id":"addSideDishesTextHelp",
          "langs":
          {
            "en":"The last button opens a window where you can add side dishes",
            "uk":"The last button opens a window where you can add side dishes",
            "pt":"O último botão abre uma janela onde você pode adicionar acompanhamentos"
          }
        },
        {
          "id":"checkListImg",
          "attr":
          {
            "src":
            {
              "en":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707411921/SplitIt/CheckList_i3ilj7.png",
              "uk":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707411921/SplitIt/CheckList_i3ilj7.png",
              "pt":"https://res.cloudinary.com/ddmvvgno3/image/upload/v1707412614/SplitIt/CheckListPort_nhujnv.png"
            }
          }
        },
        {
          "id":"closeHelpBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        }
      ]
    </script>

    <span id="idiom" class="d-none"><%= language %></span>

    <!-- Page -->
    <main class="container">
      <div class="row"><%- body %></div>
    </main>

    <%- include("../partials/footer") %>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>

    <!-- Multi Language JS -->
    <script src="https://cdn.jsdelivr.net/gh/askask11/multi-language@0.1.4/dist/multi-language.min.js" integrity="sha256-xL5PbSBwYLKYaUvdDP2S/lnF9s3oAPm/92GnACZBe2c=" crossorigin="anonymous"></script>

    <!-- Validate Form JS -->
    <script src="/scripts/validateForm.js"></script>

    <!-- Idiom JS -->
    <script src="/scripts/switches.js"></script>

    <!-- Check Sum JS -->
    <script src="/scripts/checkSum.js"></script>

    <!-- Validate Checkbox JS -->
    <script src="/scripts/validateCheckbox.js"></script>
  </body>
</html>
