<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/style.css" />
    <title id="pageTitle">Split it!</title>
  </head>
  <body class="vh-100 d-flex flex-column position-relative <%= (theme === "dark") ? "bg-dark text-light" : "" %>">
    <!-- JSON Translation -->
    <script id="translation-sheet" type="application/json">
      [
        {
          "id":"pageTitle",
          "langs":
          {
            "en":"Split it!",
            "uk":"Split it!",
            "pt":"Divide aê!"
          }
        },
        {
          "id":"title",
          "langs":
          {
            "en":"Split it!",
            "uk":"Split it!",
            "pt":"Divide aê!"
          }
        },
        {
          "id":"langChangeLabel",
          "langs":
          {
            "en":"Select a language",
            "uk":"Select a language",
            "pt":"Selecione o idioma"
          }
        },
        {
          "id":"closeLangChangeBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"addCheckFormBtn",
          "langs":
          {
            "en":"Add check",
            "uk":"Add check",
            "pt":"Adicionar conta"
          }
        },
        {
          "id":"addCheckFormLabel",
          "langs":
          {
            "en":"Add check",
            "uk":"Add check",
            "pt":"Adicionar conta"
          }
        },
        {
          "id":"addRestaurantHome",
          "langs":
          {
            "en":"Restaurant",
            "uk":"Restaurant",
            "pt":"Restaurante"
          }
        },
        {
          "id":"addRestaurantName",
          "langs":
          {
            "en":"Restaurant's name:",
            "uk":"Restaurant's name:",
            "pt":"Nome do restaurante:"
          }
        },
        {
          "id":"restaurantAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Restaurant...",
              "uk":"Restaurant...",
              "pt":"Restaurante..."
            }
          }
        },
        {
          "id":"addRestaurantNameError",
          "langs":
          {
            "en":"What restaurant was it?",
            "uk":"What restaurant was it?",
            "pt":"Qual era o restaurante?"
          }
        },
        {
          "id":"addTip",
          "langs":
          {
            "en":"Checks's Service Tip:",
            "uk":"Checks's Service Tip:",
            "pt":"Taxa de serviço da conta:"
          }
        },
        {
          "id":"tipAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Tip percentage...",
              "uk":"Tip percentage...",
              "pt":"Porcentagem da gorjeta..."
            }
          }
        },
        {
          "id":"addTipNameError",
          "langs":
          {
            "en":"How much are you tipping?",
            "uk":"How much are you tipping?",
            "pt":"Quanto será a gorjeta?"
          }
        },
        {
          "id":"addTotalPrice",
          "langs":
          {
            "en":"Checks's Total Price:",
            "uk":"Checks's Total Price:",
            "pt":"Preço total da conta:"
          }
        },
        {
          "id":"totalPriceAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Total price...",
              "uk":"Total price...",
              "pt":"Preço total..."
            }
          }
        },
        {
          "id":"addTotalPriceError",
          "langs":
          {
            "en":"What's the total price? Enter a valid value!",
            "uk":"What's the total price? Enter a valid value!",
            "pt":"Qual o preço total? Entre um valor válido!"
          }
        },
        {
          "id":"addDiscount",
          "langs":
          {
            "en":"Checks's Discount:",
            "uk":"Checks's Discount:",
            "pt":"Desconto da conta:"
          }
        },
        {
          "id":"discountAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Discount price...",
              "uk":"Discount price...",
              "pt":"Valor do desconto..."
            }
          }
        },
        {
          "id":"addDiscountError",
          "langs":
          {
            "en":"What's the discount? Enter a valid value!",
            "uk":"What's the discount? Enter a valid value!",
            "pt":"Qual o desconto? Entre um valor válido!"
          }
        },
        {
          "id":"addPeopleHome",
          "langs":
          {
            "en":"People",
            "uk":"People",
            "pt":"Pessoas"
          }
        },
        {
          "id":"addPerson",
          "langs":
          {
            "en":"First person:",
            "uk":"First person:",
            "pt":"Primeira pessoa:"
          }
        },
        {
          "id":"personAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Person's name...",
              "uk":"Person's name...",
              "pt":"Nome da pessoa..."
            }
          }
        },
        {
          "id":"addPersonError",
          "langs":
          {
            "en":"What is your name?",
            "uk":"What is your name?",
            "pt":"Qual o seu nome?"
          }
        },
        {
          "id":"addOrderHome",
          "langs":
          {
            "en":"Order",
            "uk":"Order",
            "pt":"Pedido"
          }
        },
        {
          "id":"addDish",
          "langs":
          {
            "en":"First dish:",
            "uk":"First dish:",
            "pt":"Primeiro prato:"
          }
        },
        {
          "id":"dishAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Dish's name...",
              "uk":"Dish's name...",
              "pt":"Nome do preto..."
            }
          }
        },
        {
          "id":"addDishError",
          "langs":
          {
            "en":"What did you eat?",
            "uk":"What did you eat?",
            "pt":"O que você comeu?"
          }
        },
        {
          "id":"addQty",
          "langs":
          {
            "en":"Quantity:",
            "uk":"Quantity:",
            "pt":"Quantidade:"
          }
        },
        {
          "id":"qtyAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Quantity...",
              "uk":"Quantity...",
              "pt":"Quantidade..."
            }
          }
        },
        {
          "id":"addQtyError",
          "langs":
          {
            "en":"How many did you order?",
            "uk":"How many did you order?",
            "pt":"Quantos você pediu?"
          }
        },
        {
          "id":"addPrice",
          "langs":
          {
            "en":"Price per dish:",
            "uk":"Price per dish:",
            "pt":"Preço de prato:"
          }
        },
        {
          "id":"priceAdd",
          "attr":
          {
            "placeholder":
            {
              "en":"Price per dish...",
              "uk":"Price per dish...",
              "pt":"Preço por prato..."
            }
          }
        },
        {
          "id":"addPriceError",
          "langs":
          {
            "en":"How much did it cost per dish?",
            "uk":"How much did it cost per dish?",
            "pt":"Quanto custou por prato?"
          }
        },
        {
          "id":"closeAddCheckBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"addCheckBtn",
          "langs":
          {
            "en":"Add",
            "uk":"Add",
            "pt":"Adicionar"
          }
        },
        {
          "id":"delAllCheckFormBtn",
          "langs":
          {
            "en":"Delete all",
            "uk":"Delete all",
            "pt":"Deletar contas"
          }
        },
        {
          "id":"alertChecks",
          "langs":
          {
            "en":"You don't have any checks yet!",
            "uk":"You don't have any checks yet!",
            "pt":"Você não possui nenhuma conta ainda!"
          }
        },
        {
          "id":"delAllCheckFormLabel",
          "langs":
          {
            "en":"Delete all checks",
            "uk":"Delete all checks",
            "pt":"Deletar todas as contas"
          }
        },
        {
          "id":"delAllText",
          "langs":
          {
            "en":"Are you sure you want to delete all checks?",
            "uk":"Are you sure you want to delete all checks?",
            "pt":"Você tem certeza de que quer deletar todas as contas?"
          }
        },
        {
          "id":"noChecksText",
          "langs":
          {
            "en":"There are no checks to delete.",
            "uk":"There are no checks to delete.",
            "pt":"Não há contas para deletar."
          }
        },
        {
          "id":"closeDelAllBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"delAllBtn",
          "langs":
          {
            "en":"Delete",
            "uk":"Delete",
            "pt":"Deletar"
          }
        },
        {
          "id":"finalPrice",
          "langs":
          {
            "en":"Final Price",
            "uk":"Final Price",
            "pt":"Preço Final"
          }
        },
        {
          "id":"discountCheck",
          "langs":
          {
            "en":"Discount",
            "uk":"Discount",
            "pt":"Desconto"
          }
        },
        {
          "id":"tipCheck",
          "langs":
          {
            "en":"Tip",
            "uk":"Tip",
            "pt":"Gorjeta"
          }
        },
        {
          "id":"checkPrice",
          "langs":
          {
            "en":"Price:",
            "uk":"Price:",
            "pt":"Preço:"
          }
        },
        {
          "id":"editCheckFormLabel",
          "langs":
          {
            "en":"Edit check",
            "uk":"Edit check",
            "pt":"Editar conta"
          }
        },
        {
          "id":"editRestaurantName",
          "langs":
          {
            "en":"Restaurant's name:",
            "uk":"Restaurant's name:",
            "pt":"Nome do restaurante:"
          }
        },
        {
          "id":"editRestaurantNameError",
          "langs":
          {
            "en":"What restaurant was it?",
            "uk":"What restaurant was it?",
            "pt":"Qual era o restaurante?"
          }
        },
        {
          "id":"restaurantEdit",
          "attr":
          {
            "placeholder":
            {
              "en":"Restaurant...",
              "uk":"Restaurant...",
              "pt":"Restaurante..."
            }
          }
        },
        {
          "id":"editTip",
          "langs":
          {
            "en":"Checks's Service Tip:",
            "uk":"Checks's Service Tip:",
            "pt":"Gorjeta da conta:"
          }
        },
        {
          "id":"editTipError",
          "langs":
          {
            "en":"How much are you tipping?",
            "uk":"How much are you tipping?",
            "pt":"Quanto foi a gorjeta?"
          }
        },
        {
          "id":"tipEdit",
          "attr":
          {
            "placeholder":
            {
              "en":"Tip percentage...",
              "uk":"Tip percentage...",
              "pt":"Porcentagem da gorjeta..."
            }
          }
        },
        {
          "id":"editTotalPrice",
          "langs":
          {
            "en":"Checks's Total Price:",
            "uk":"Checks's Total Price:",
            "pt":"Preço Total da conta:"
          }
        },
        {
          "id":"editTotalPriceError",
          "langs":
          {
            "en":"What's the total price? Enter a valid value!",
            "uk":"What's the total price? Enter a valid value!",
            "pt":"Qual o preço total? Entre um valor válido!"
          }
        },
        {
          "id":"totalPriceEdit",
          "attr":
          {
            "placeholder":
            {
              "en":"Total price...",
              "uk":"Total price...",
              "pt":"Preço total..."
            }
          }
        },
        {
          "id":"editDiscount",
          "langs":
          {
            "en":"Checks's Discount:",
            "uk":"Checks's Discount:",
            "pt":"Desconto da conta:"
          }
        },
        {
          "id":"editDiscountError",
          "langs":
          {
            "en":"What's the discount? Enter a valid value!",
            "uk":"What's the discount? Enter a valid value!",
            "pt":"Qual o valor do desconto? Entre um valor válido!"
          }
        },
        {
          "id":"discountEdit",
          "attr":
          {
            "placeholder":
            {
              "en":"Discount price...",
              "uk":"Discount price...",
              "pt":"Valor do desconto..."
            }
          }
        },
        {
          "id":"closeEditRestaurantBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"editCheckBtn",
          "langs":
          {
            "en":"Edit",
            "uk":"Edit",
            "pt":"Editar"
          }
        },
        {
          "id":"delCheckFormLabel",
          "langs":
          {
            "en":"Delete check",
            "uk":"Delete check",
            "pt":"Deletar conta"
          }
        },
        {
          "id":"delCheckText",
          "langs":
          {
            "en":"Are you sure you want to delete this check?",
            "uk":"Are you sure you want to delete this check?",
            "pt":"Tem certeza de que deseja deletar esta conta?"
          }
        },
        {
          "id":"closeDelCheckBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"delCheckBtn",
          "langs":
          {
            "en":"Delete",
            "uk":"Delete",
            "pt":"Deletar"
          }
        },
        {
          "id":"addPersonFormLabel",
          "langs":
          {
            "en":"Add a person",
            "uk":"Add a person",
            "pt":"Adicionar uma pessoa"
          }
        },
        {
          "id":"addPersonCheckText",
          "langs":
          {
            "en":"Person",
            "uk":"Person",
            "pt":"Pessoa"
          }
        },
        {
          "id":"addPersonCheck",
          "langs":
          {
            "en":"Person's name:",
            "uk":"Person's name:",
            "pt":"Nome da Pessoa:"
          }
        },
        {
          "id":"addPersonCheckError",
          "langs":
          {
            "en":"What is the person's name?",
            "uk":"What is the person's name?",
            "pt":"Qual o nome da pessoa?"
          }
        },
        {
          "id":"personAddForm",
          "attr":
          {
            "placeholder":
            {
              "en":"Person's name...",
              "uk":"Person's name...",
              "pt":"Nome da pessoa..."
            }
          }
        },
        {
          "id":"addOrderCheckText",
          "langs":
          {
            "en":"Order",
            "uk":"Order",
            "pt":"Pedido"
          }
        },
        {
          "id":"addOrderCheck",
          "langs":
          {
            "en":"Dish's name:",
            "uk":"Dish's name:",
            "pt":"Nome do pedido:"
          }
        },
        {
          "id":"addOrderCheck",
          "langs":
          {
            "en":"Dish's name:",
            "uk":"Dish's name:",
            "pt":"Nome do pedido:"
          }
        },
        {
          "id":"addOrderCheckError",
          "langs":
          {
            "en":"What did you eat?",
            "uk":"What did you eat?",
            "pt":"O que você comeu?"
          }
        },
        {
          "id":"dishAddForm",
          "attr":
          {
            "placeholder":
            {
              "en":"Dish's name...",
              "uk":"Dish's name...",
              "pt":"Nome do pedido..."
            }
          }
        },
        {
          "id":"addQtyCheck",
          "langs":
          {
            "en":"Quantity:",
            "uk":"Quantity:",
            "pt":"Quantidade:"
          }
        },
        {
          "id":"addQtyCheckError",
          "langs":
          {
            "en":"How many did you order?",
            "uk":"How many did you order?",
            "pt":"Quantos você pediu?"
          }
        },
        {
          "id":"qtyAddForm",
          "attr":
          {
            "placeholder":
            {
              "en":"Quantity...",
              "uk":"Quantity...",
              "pt":"Quantidade..."
            }
          }
        },
        {
          "id":"addPriceCheck",
          "langs":
          {
            "en":"Price per dish:",
            "uk":"Price per dish:",
            "pt":"Preço por prato:"
          }
        },
        {
          "id":"addPriceCheckError",
          "langs":
          {
            "en":"How much did it cost per dish?",
            "uk":"How much did it cost per dish?",
            "pt":"Quanto custou por prato?"
          }
        },
        {
          "id":"priceAddForm",
          "attr":
          {
            "placeholder":
            {
              "en":"Price per dish...",
              "uk":"Price per dish...",
              "pt":"Preço por prato..."
            }
          }
        },
        {
          "id":"closeAddPersonBtn",
          "langs":
          {
            "en":"Close",
            "uk":"Close",
            "pt":"Fechar"
          }
        },
        {
          "id":"addPersonBtn",
          "langs":
          {
            "en":"Add",
            "uk":"Add",
            "pt":"Adicionar"
          }
        }
      ]
    </script>

    <span id="idiom" class="d-none"><%= language %></span>

    <!-- Page -->
    <main class="container">
      <div class="row"><%- body %></div>
    </main>

    <%- include("../partials/footer") %>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>

    <!-- Multi Language JS -->
    <script src="https://cdn.jsdelivr.net/gh/askask11/multi-language@0.1.4/dist/multi-language.min.js" integrity="sha256-xL5PbSBwYLKYaUvdDP2S/lnF9s3oAPm/92GnACZBe2c=" crossorigin="anonymous"></script>

    <!-- Validate Form JS -->
    <script src="/scripts/validateForm.js"></script>

    <!-- Idiom JS -->
    <script src="/scripts/switches.js"></script>
  </body>
</html>
