<% layout("layouts/boilerplate") %>
<h1><%= check.title %></h1>
<a href="/" type="btn" class="btn btn-outline-info">
  <i class="bi bi-arrow-left"></i>
</a>
<h3><%= check.price %></h3>
<h4><%= check.date %></h4>
