<% layout("layouts/boilerplate") %>

<div
  class="d-flex align-items-center justify-content-center position-relative overflow-hidden"
  style="height: 100vh">
  <div
    class="border border-3 rounded-circle border-warning position-absolute"
    style="width: 400px; height: 400px; left: -50%; top: -25%"></div>

  <h1 class="text-center">
    PAGE NOT FOUND
    <hr class="border border-2 border-danger-subtle" />
    404
  </h1>

  <div
    class="border border-3 rounded-circle border-danger position-absolute"
    style="width: 400px; height: 400px; right: -50%; bottom: -25%"></div>
</div>
